[tool.poetry]
name = "asynch"
version = "0.2.2"
description = "A asyncio driver for ClickHouse with native tcp protocol"
authors = ["long2ice <long2ice@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/long2ice/asynch"
repository = "https://github.com/long2ice/asynch.git"
documentation = "https://github.com/long2ice/asynch"
keywords = ["ClickHouse", "asyncio", "driver"]
packages = [
    { include = "asynch" }
]
include = ["LICENSE", "README.md", "CHANGELOG.md"]

[tool.poetry.dependencies]
python = "^3.7"
leb128 = "*"
pytz = "*"
lz4 = "*"
clickhouse-cityhash = "*"
zstd = "*"
tzlocal = "*"
ciso8601 = "*"

[tool.poetry.dev-dependencies]
flake8 = "*"
pyproject-flake8 = "*"
isort = "*"
black = "*"
pytest = "*"
pytest-mock = "*"
bandit = "*"
pytest-asyncio = "*"
clickhouse-driver = "*"
uvloop = "*"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 100
target-version = ["py36", "py37", "py38", "py39"]

[tool.flake8]
ignore = "E501,W503,DAR101,DAR201,DAR402"
max-line-length = 100

[tool.pytest.ini_options]
asyncio_mode = "auto"
